<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">

          <li>
            <a href="https://github.com/j-christy"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          </li>

          <li>
            <a href="https://twitter.com/jackwchristy"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </li>

        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
