<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
          {% include hamburger.html %}
      </a>

      <div id="trigger">
        {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
        {% for p in navigation_pages %}
          {% if p.navigation_weight %}
          <a href="{{ p.url | prepend: site.baseurl }}"
          class="page-link">
            {{ p.title }}
          </a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
