/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-auth-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}
.post-meta {
    display: block;
    font-size: $small-font-size;
    color: $grey-color;
    a {
      text-decoration: none;
    }
    a:hover {
      color: $brand-color;
    }
}

.post-link {
    display: block;
    font-size: 24px;
}
