/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > .post {
        margin-bottom: $spacing-unit;
        //background-color: #263d36;
        background-img: url("http://static3.businessinsider.com/image/54afe793eab8ea880e352a0c-1200/oregon-ducks.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        > h2{
          margin: 0 auto;
        }
        > h3 {
          margin: 0 auto;
        }
    }
}

.post-img {
  width: 100%;
  height: auto;
}
.post-auth-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}
.post-meta {
    display: block;
    font-size: $small-font-size;
    color: $grey-color;
    a {
      text-decoration: none;
    }
    a:hover {
      color: $brand-color;
    }
}

.post-link {
    display: block;
    font-size: 24px;
}
